<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="RTGSImporter.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      <section name="FloraRTGSImporter.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="DBServer" value="." />
    <add key="LogPath" value="D:\FloraLog" />
    <add key="IntervalInSeconds" value="5" />

    <add key="RemoteExportPath" value="C:\STPAdapter\output" />
    <add key="RemoteImportPath" value="C:\STPAdapter\input" />
    <add key="RemoteErrorPath" value="C:\STPAdapter\error" />
    <add key="RemoteRejectPath" value="C:\STPAdapter\rejected" />
    <add key="RemoteAckPath" value="C:\STPAdapter\accepted" />
    <add key="ExtensiveLogging" value="true" />

    <add key="LocalPath" value="D:\FloraRTGSFiles" />
    <add key="CanSend" value="true" />
    <add key="CanLoad" value="true" />
    <add key="CanPull" value="true" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <applicationSettings>
    <RTGSImporter.Properties.Settings>
      <setting name="RTGSImporter_FileMover_Service1" serializeAs="String">
        <value>http://localhost/FileMover/Service1.asmx</value>
      </setting>
    </RTGSImporter.Properties.Settings>
    <FloraRTGSImporter.Properties.Settings>
      <setting name="FloraRTGSImporter_FileMover_Service1" serializeAs="String">
        <value>http://localhost/FileMover/Service1.asmx</value>
      </setting>
    </FloraRTGSImporter.Properties.Settings>
  </applicationSettings>
</configuration>